@using Karsilastirma.ViewModels

@model SearchQueryViewModel

@{
    ViewData["Başlık"] = "Ürün Listesi";
}
<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width:540px;">
                <div class="row g-0">
                    <div class="clo-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h8 class="card-title">
                                    @item.Name
                                    <a class="text-white float-right"></a>
                                </h8>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="@item.Url">
                            <img src="@item.PhotoUrl" width="100" height="100" alt="@item.Name">
                        </a>

                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><h3>Fiyat @item.Price₺</h3></p>
                            <p class="card-text"><h3>@item.Store</h3></p>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer">
                                <p class="card-text">
                                    <a href="@item.Url" target="_blank" class="btn btn-success text-white"><i class="bi bi-cart-plus"></i>Mağazada İncele</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>